In [1]:
import sys
sys.path.append('../')
import tokamakTK

from tokamakTK import get_ECT_regression

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import statsmodels.api as sm
import matplotlib.patches as mpatches

pd.set_option('display.max_columns', None)
plt.rc('font',family = 'serif')
plt.rc('axes', axisbelow=True)

path = "../data/"
fig_path = "../../../LATEX/Latex Images/"
plt.rcParams["mathtext.fontset"] = "cm"

[Notes based on: Sarazin, et al. 2019](https://iopscience.iop.org/article/10.1088/1741-4326/ab48a5/meta)

In [2]:
esqueleto = {
    "TAUTH":None, 
    "BETASTAR":None,        
    "RGEO":None,  
    "BT":None,    
    "NEL":None,   
    "TAV":None,  
    "IP":None,   
    "PLTH":None,
    "Q95":None,
    "KAREA":None,
    "EPS":None,
    "MEFF":None
}


# IPB98(y,2)
DEMO = {"TAUTH":4.6, # s
        "BETASTAR":2.2, # 2.2
        "RGEO":9.1,  # m # Some say 7.5
        "BT":5.6,    # T
        "NEL":8.7,   # 10^19
        "TAV":12.9,  # keV
        "IP":19.6,   # MA
        "PLTH":157.5,# MW
        "Q95":3.2,
        "KAREA":1.59,
        "EPS":3.1,
        "MEFF":2.67
       }

ITER = {"TAUTH":3.1, # s
        "BETASTAR":2.43,# 2.2
        "RGEO":6.2,  # m
        "BT":4.42,   # T
        "NEL":8.4,   # 10^19
        "TAV":10.7,  # keV
        "IP":12.5,   # MA
        "PLTH": 106, # MW
        "Q95":3,
        "KAREA":1.7,
        "EPS":3.1,
        "MEFF":2.554
       }

# NBI-LHW Database
EAST = {"TAUTH":0.05647, # s
        "BETASTAR":None,# 2.2
        "RGEO":1.86,  # m
        "BT":1.97,   # T
        "NEL":3.36,   # 10^19
        "TAV":None,  # keV
        "IP":0.42,   # MA
        "PLTH":2.26, # MW
        "Q95":5.06,
        "KAREA":1.51,
        "EPS":0.44/1.86,
        "MEFF": 2.5 # THIS IS MY GUESSSSSSSSSSSSSSSSSSSSSSSSSS
       }

ST40 = {
    "TAUTH":None, 
    "BETASTAR":None,        
    "RGEO":0.4,  
    "BT":3,    
    "NEL":None,   
    "TAV":None,  
    "IP":2,   
    "PLTH":None,
    "Q95":1.8,
    "KAREA":2.6,
    "EPS":0.2/0.4,
    "MEFF":None,
    "Greewald":0.8,
    "MDG_beta":0.9
    
}


MAST_U = {
    "TAUTH":5,    # Changed to 2 in 2020
    "BETASTAR":None,        
    "RGEO":0.85,  
    "BT":0.75,  # Changed to 0.6 in 2020  
    "NEL":None,   
    "TAV":None,  
    "IP":2, # Changed to 1 in 2020
    "PLTH":None,
    "Q95":None,
    "KAREA":None,
    "EPS":0.65/0.85,
    "MEFF":None
}

MASTU_ICTP = {
    "TAUTH":0.055,    # Changed to 2 in 2020
    "BETASTAR":3.7,        
    "RGEO":0.85,  
    "BT":0.75,  # Changed to 0.6 in 2020  
    "NEL":4.55,   
    "TAV":1.41,  
    "IP":0.53, # Changed to 1 in 2020
    "PLTH":None,
    "Q95":None, #B_Î¸ = 0.44T
    "KAREA":2.01,
    "EPS":0.65/0.85,
    "MEFF":None
}

ST_CTF = {
    "TAUTH":None,
    "BETASTAR":None,        
    "RGEO":0.84,  
    "BT":2.5,    
    "NEL":None,   
    "TAV":None,  
    "IP":6.5,   
    "PLTH":None,
    "Q95":None,
    "KAREA":None,
    "EPS":None,
    "MEFF":None
}

In [3]:
# Obtained from Optimization

min_subset_ids_6357 = pd.read_csv(path+"R_ids_alpha_0.6357.csv")
min_subset_ids_9998 = pd.read_csv(path+"R_ids_alpha_0.9998.csv")
min_subset_ids_joe  = pd.read_csv(path+"deviation_id.csv")

DB2 = pd.read_csv(path+"DB2P8.csv")
DB5 = pd.read_csv(path+"SELDB5_SVD.csv", low_memory=False) 

# Setting ELMy Dataset
DB5 = DB5[DB5["PHASE"].isin(['HGELM', 'HSELM', 'HGELMH', 'HSELMH'])]

# Removing Spherical TOKAMAKS
#DB5 = DB5[~DB5["TOK"].isin(['START','MAST','NSTX'])]

# There is two shots from DB2P8 missing in DB5
missing_shots = DB2[~DB2.id.isin( DB5.id.values )].reset_index(drop=True)
DB5 = pd.concat([DB5, missing_shots], axis=0, ignore_index=True)

# Labeling shots that had great impact in decreasing alpha_R
DB5.insert(loc=2,column="label_6357",value=["Unaffected"]*len(DB5))
DB5.loc[(DB5[DB5.id.isin(min_subset_ids_6357.id)].index), "label_6357"] = "Decreasing"

DB5.insert(loc=2,column="label_9998",value=["Unaffected"]*len(DB5))
DB5.loc[(DB5[DB5.id.isin(min_subset_ids_9998.id)].index), "label_9998"] = "Decreasing"

DB5.insert(loc=2,column="label_joe",value=["Unaffected"]*len(DB5))
DB5.loc[(DB5[DB5.id.isin(min_subset_ids_joe.id)].index), "label_joe"] = "Decreasing"

DB5.insert(loc=2,column="Spherical",value=["False"]*len(DB5))
DB5.loc[(DB5[DB5.TOK.isin(['START','MAST','NSTX'])].index), "Spherical"] = "True"

DB5.insert(0, 'intercept', np.ones(len(DB5)))


print(
    "  Subset that decrease alpha-R to 0.6357\n--------\n" +
    f"{ round( (len(min_subset_ids_6357)/len(DB5))*100     ,2)  }% affected alpha_R\n" + 
    f"{ round( (1 - len(min_subset_ids_6357)/len(DB5))*100 ,2)  }% did not affect alpha_R" +
    "\n\n\n  Subset that decrease alpha-R to 0.9998\n--------\n" +
    f"{ round( (len(min_subset_ids_9998)/len(DB5))*100     ,2)  }% affected alpha_R\n" + 
    f"{ round( (1 - len(min_subset_ids_9998)/len(DB5))*100 ,2)  }% did not affect alpha_R"
    "\n\n\n  Subset given by Joseph Hall           \n--------\n" +
    f"{ round( (len(min_subset_ids_joe)/len(DB5))*100     ,2)  }% affected alpha_R\n" + 
    f"{ round( (1 - len(min_subset_ids_joe)/len(DB5))*100 ,2)  }% did not affect alpha_R"
)

  Subset that decrease alpha-R to 0.6357
--------
23.45% affected alpha_R
76.55% did not affect alpha_R


  Subset that decrease alpha-R to 0.9998
--------
9.88% affected alpha_R
90.12% did not affect alpha_R


  Subset given by Joseph Hall
--------
18.46% affected alpha_R
81.54% did not affect alpha_R

In [4]:
new_observations = pd.read_csv(path+"new_machines.csv").set_index("TOK")
new_observations

,IP,BT,NEL,PLTH,RGEO,KAREA,EPS,MEFF,A,RHOSTAR,BETASTAR,NUSTAR,QCYL5,Q95,TAUTH_exp,TAUTH_pred
TOK,,,,,,,,,,,,,,,,
ITER,15.0,5.3,1.03,87,6.20,1.80,0.322581,2.5,2.00,0.0020,2.24,0.014,1.94,3.0,3.50,2.94
SPARC,8.7,12.2,3.10,25,1.85,1.97,0.308108,2.5,0.57,0.0027,1.20,0.029,2.46,NaN,0.77,0.73

In [5]:
DB2prms = get_ECT_regression(DB2).params.to_dict()
DB2prms['const'] = np.exp(DB2prms['const'])

In [6]:
DB5prms = get_ECT_regression(DB5).params.to_dict()
DB5prms['const'] = np.exp(DB5prms['const'])

In [7]:
DDsprms = get_ECT_regression(DB5[DB5.id.isin(min_subset_ids_6357.id.values) | 
                                 DB5.id.isin(DB2.id.values)
                                ]).params.to_dict()
DDsprms['const'] = np.exp(DDsprms['const'])

UDsprms = get_ECT_regression(DB5[~DB5.id.isin(min_subset_ids_6357.id.values)]).params.to_dict()
UDsprms['const'] = np.exp(UDsprms['const'])

In [8]:
DDsprms_9 = get_ECT_regression(DB5[DB5.id.isin(min_subset_ids_9998.id.values) | 
                                 DB5.id.isin(DB2.id.values)
                                ]).params.to_dict()
DDsprms_9['const'] = np.exp(DDsprms_9['const'])

UDsprms_9 = get_ECT_regression(DB5[~DB5.id.isin(min_subset_ids_9998.id.values)]).params.to_dict()
UDsprms_9['const'] = np.exp(UDsprms_9['const'])

In [9]:
DB2ITERy2 = {'const':0.0562,
             'IP':0.93,
             'BT':0.15,
             'NEL':0.41,
             'PLTH':-0.69,
             'RGEO':1.97,
             'KAREA':0.78,
             'EPS':0.58,
             'MEFF':0.19
            }

In [10]:
UDsprms

{'const': 0.07543874049968176,
 'IP': 0.7818564549785937,
 'BT': 0.24388542411978847,
 'NEL': 0.41145103200443656,
 'PLTH': -0.7532206371481888,
 'RGEO': 2.155963618372499,
 'KAREA': 0.5002957204679769,
 'EPS': 0.7989791985662811,
 'MEFF': 0.2189922745716312}

$$
    \tau_{E,th} = \alpha_0\cdot I_P^{\alpha_I}\cdot B^{\alpha_B}_t\cdot \bar{n}^{\alpha_n}_e  \cdot P^{\alpha_P}_{l,th}\cdot R^{\alpha_R}_{geo}\cdot \kappa^{\alpha_\kappa}_a\cdot \epsilon^{\alpha_\epsilon}\cdot M^{\alpha_M}_{eff}
$$

In [11]:
def predict_TauE(Mprms, Dprms):
    """
    Model parameters (Mprms)
    Device parameters (Dprms)
    """
    tau = (Mprms['const'] * (Dprms["IP"]**Mprms["IP"]) * (Dprms["BT"]**Mprms["BT"]) *
          (Dprms["NEL"]**Mprms["NEL"]) * (Dprms["PLTH"]**Mprms["PLTH"]) * (Dprms["RGEO"]**Mprms["RGEO"]) *
          (Dprms["KAREA"]**Mprms["KAREA"]) * (Dprms["EPS"]**Mprms["EPS"]) * (Dprms["MEFF"]**Mprms["MEFF"])
          )
    return tau

def get_rho_exponent(Mprms):
    const, Ip, Bt, ne, Pl, R, k, e, M = (Mprms['const'], Mprms["IP"], Mprms["BT"], Mprms["NEL"], 
                                         Mprms["PLTH"],Mprms["RGEO"], Mprms["KAREA"], Mprms["EPS"], 
                                         Mprms["MEFF"]
                                        )
    return (2*(-3*R - 3*Ip -9*Pl + ne)) / (5*(1+Pl))

### DB2 and DB5

In [12]:
xp1, xp2 = -(np.round(get_rho_exponent(DB2prms),5)+2), -(np.round(get_rho_exponent(DB5prms),5)+2)
rho_ITER = new_observations.loc["ITER"]["RHOSTAR"]
a_ITER   = new_observations.loc["ITER"]["A"]

ell1 = ( rho_ITER**xp1 ) * ( a_ITER**(1-xp1) )
ell2 = ( rho_ITER**xp2 ) * ( a_ITER**(1-xp2) )

ell1, ell2

(0.0010709519739761808, 7.985277179384644)

In [13]:
xp1, xp2  = -(np.round(get_rho_exponent(DB2prms),5)+2), -(np.round(get_rho_exponent(DB5prms),5)+2)
rho_SPARC = new_observations.loc["SPARC"]["RHOSTAR"]
a_SPARC   = new_observations.loc["SPARC"]["A"]

ell1 = ( rho_SPARC**xp1 ) * ( a_SPARC**(1-xp1) )
ell2 = ( rho_SPARC**xp2 ) * ( a_SPARC**(1-xp2) )

ell1, ell2

(0.0016641078576201647, 1.6663006688105708)

In [14]:
xp1, xp2

(1.09042, -0.20042000000000004)

### Big Dataset

In [16]:
xp1, xp2 = -(np.round(get_rho_exponent(DDsprms),5)+2), -(np.round(get_rho_exponent(UDsprms),5)+2)
rho_ITER = new_observations.loc["ITER"]["RHOSTAR"]
a_ITER   = new_observations.loc["ITER"]["A"]

ell1 = ( rho_ITER**xp1 ) * ( a_ITER**(1-xp1) )
ell2 = ( rho_ITER**xp2 ) * ( a_ITER**(1-xp2) )

ell1, ell2

(227.42593855759998, 0.02563539394104549)

In [17]:
xp1, xp2 = -(np.round(get_rho_exponent(DDsprms),5)+2), -(np.round(get_rho_exponent(UDsprms),5)+2)
rho_SPARC = new_observations.loc["SPARC"]["RHOSTAR"]
a_SPARC   = new_observations.loc["SPARC"]["A"]

ell1 = ( rho_SPARC**xp1 ) * ( a_SPARC**(1-xp1) )
ell2 = ( rho_SPARC**xp2 ) * ( a_SPARC**(1-xp2) )

ell1, ell2

(22.325056740804328, 0.01948659571075577)

In [18]:
xp1, xp2

(-0.68527, 0.6307299999999998)

### Small Dataset

In [19]:
xp1, xp2 = -(np.round(get_rho_exponent(DDsprms_9),5) +2), -(np.round(get_rho_exponent(UDsprms_9),5) + 2)
rho_ITER = new_observations.loc["ITER"]["RHOSTAR"]
a_ITER   = new_observations.loc["ITER"]["A"]

ell1 = ( rho_ITER**xp1 ) * ( a_ITER**(1-xp1) )
ell2 = ( rho_ITER**xp2 ) * ( a_ITER**(1-xp2) )

ell1, ell2

(64.98602834792347, 1.1524709728188498)

In [20]:
xp1, xp2  = -(np.round(get_rho_exponent(DDsprms_9),5) +2), -(np.round(get_rho_exponent(UDsprms_9),5) + 2)
rho_SPARC = new_observations.loc["SPARC"]["RHOSTAR"]
a_SPARC   = new_observations.loc["SPARC"]["A"]

ell1 = ( rho_SPARC**xp1 ) * ( a_SPARC**(1-xp1) )
ell2 = ( rho_SPARC**xp2 ) * ( a_SPARC**(1-xp2) )

ell1, ell2

(8.457962007894913, 0.37185949106114174)

In [21]:
xp1, xp2

(-0.50393, 0.0798000000000001)

In [22]:
new_observations

,IP,BT,NEL,PLTH,RGEO,KAREA,EPS,MEFF,A,RHOSTAR,BETASTAR,NUSTAR,QCYL5,Q95,TAUTH_exp,TAUTH_pred
TOK,,,,,,,,,,,,,,,,
ITER,15.0,5.3,1.03,87,6.20,1.80,0.322581,2.5,2.00,0.0020,2.24,0.014,1.94,3.0,3.50,2.94
SPARC,8.7,12.2,3.10,25,1.85,1.97,0.308108,2.5,0.57,0.0027,1.20,0.029,2.46,NaN,0.77,0.73

{'IP': 15.0,
 'BT': 5.3,
 'NEL': 1.03,
 'PLTH': 87.0,
 'RGEO': 6.2,
 'KAREA': 1.8,
 'EPS': 0.322581,
 'MEFF': 2.5,
 'A': 2.0,
 'RHOSTAR': 0.002,
 'BETASTAR': 2.24,
 'NUSTAR': 0.014,
 'QCYL5': 1.94,
 'Q95': 3.0,
 'TAUTH_exp': 3.5,
 'TAUTH_pred': 2.94}

In [25]:
predict_TauE(UDsprms, new_observations.loc["ITER"].to_dict())

1.1189303507734587

In [26]:
predict_TauE(UDsprms, new_observations.loc["SPARC"].to_dict())

0.26809442353056073

In [27]:
(3.5-1.12)*100/3.5

68.0

In [28]:
(0.77-0.27)*100/0.77

64.93506493506493

In [30]:
DB5[DB5.Spherical.isin(["True"])][["Q95"]].describe()

              Q95
count  236.000000
mean     7.457679
std      1.607156
min      3.256670
25%      6.262387
50%      7.475000
75%      8.616250
max     11.310000

In [31]:
DB5[DB5.Spherical.isin(["False"])][["Q95"]].describe()

               Q95
count  6001.000000
mean      3.828896
std       0.878158
min       1.873000
25%       3.214000
50%       3.641960
75%       4.252000
max      11.130000